{% extends 'contactmanager/layout.html' %}

{% block content %}
<div class="row">
    <div class="col-md-4 mx-auto">
        <h3>Create contact profile</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="id_name">Name:</label>
                <input type="text" name="name" class="form-control" maxlength="50" required id="id_name">
            </div>
            <div class="form-group">
                <label for="id_email">Email:</label>
                <input type="email" name="email" class="form-control" maxlength="100" required id="id_email">
            </div>
            <div class="form-group">
                <label for="id_mobile">Mobile:</label>
                <input type="text" name="mobile" class="form-control" maxlength="10" required id="id_mobile">
            </div>
            <div class="form-group">
                <label for="id_fax">Fax:</label>
                <input type="text" name="fax" class="form-control" maxlength="20" required id="id_fax">
            </div>
            <div class="form-group">
                <label for="id_image">Image:</label>
                <input type="file" name="image" class="form-control" accept="image/*" id="id_image">
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>

        <p><a href="{% url 'home' %}">Return to home</a></p>
    </div>
</div>

{% endblock %}